{% extends "base.html" %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
  </head>
  <body>
    {% comment %} category starting from here  {% endcomment %}
      <section class="cat-sec">
        <div class="cat-cont">
          <div class="cat-1-row">
            <div class="sec-cat-col">
                {% if categories %}
                    {% for cat in categories %}
                    <div class="categories">
                      <div class ="cate-img">
                          <img src="/media/{{cat.Cat_img}}" alt="{{cat.Cat_Name}}" title="{{cat.Cat_Name}}" />
                      </div>
                      <div class ="cat-name">
                        <h4>{{cat.Cat_Name}}</h4>
                      </div>
                    </div>
                    {% endfor %}
                
                {% endif %}
            </div>
          </div>
        </div>
      </section>



    {% comment %} category section ends here  {% endcomment %}
  </body>
</html>
{% endblock %}
